body {
    font-family: Arial, sans-serif;
    margin: 0;
}


body {
    text-align: center;
    background: #f4f4f4;
    color:white 
    padding: 10px;
    font-size:20px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
}


nav ul {
    display: flex;
    justify-content: center;
    background: maroon;
    padding: 10;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}

nav ul li a:hover {
    background: maroon;
}


.hero {
    text-align: center;
    padding: 50px;
    background: maroon;
}


.product {
    display:block;
  text-align: center;
    padding: 20px;
}

.product {
    display: inline-block;
    width: 220px;              /* controls size of each block */
    margin: 15px;
    padding: 15px;
    background: #ddd;
    border-radius: 10px;       /* makes corners smooth */
    vertical-align: top;       /* keeps them aligned */
}

/* Product images */
.product img {
    width: 100%;               /* image fills the box */
    height: 150px;             /* equal height for all images */
    object-fit: cover;         /* keeps image neat (no stretching) */
    border-radius: 8px;
}

/* Product title */
.product h3 {
    margin: 10px 0 5px;
}

/* Product description */
.product p {
    font-size: 14px;


footer {
    text-align: center;
    background: black;
    color: white;
    padding: 15px;
}


#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.whatsapp {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background: maroon;
    color: white;
    padding: 10px;
}


@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}
